:root{
    --colorFondo: #0C0C0C;
    --colorSecundario: #FCBA0C;
    --fuente:'Dosis', sans-serif;
    --fondoFooter: #303030;
}


html{
    scroll-behavior: smooth;
}

body{
    position: relative;
}

/* FELCHA IR ARRIBA */
.contenedorIrArriba{    display: none;}

.contenedorIrArribaActive{
    background-color: #fcb80c10;
    backdrop-filter:blur(3px) ;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}
.contenedorIrArribaActive img{
    width: 40px;
    height: 40px;

}




/* PORTADA */
.contenedorPortada{
    width: 100%;
    height: 100vh;
    background-image: url('./imagenes/fondoPortadaDark.webp') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 70px;
}
.contenedorPortada h1{
    font-size: 2.5rem;
    letter-spacing: 10px;
    text-align: center;
}
.contenedorPortada span{
    letter-spacing: 2px;
    font-family: var(--fuente);
    text-align: center;
}
.rombo{
    width: 15px;
    height: 15px;
    background-color: var(--colorSecundario);
    position: absolute;
    bottom: 10px;
    animation: animacionRombo 3s infinite ease-out;
    cursor: pointer;
}



/* SECCION PROTAFOLIO */
.seccionPortafolio{
    width: 100%;
    height: auto;
    margin-bottom: 70px;
}
.contenedorTituloPortafolio{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    
}
.contenedorTituloPortafolio a{
    color: #fff;
    font-size: 1.2rem;
}
.contenedorTituloPortafolio a:hover{
    color: var(--colorSecundario);
    font-size: 1.2rem;
}
.grid{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    
}
.cartaPortafolio{
    width: 100%;
    height: 400px;
    background-color: #d4d4d4;
    border-radius: 10px;
    min-width: 150px;
}
.cartaPortafolio img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}



/* SECCION SOBRE NOSOSTROS */
.seccionSobreNosotros{
    margin-bottom: 70px;
    width: 100%;
    height: auto;
    padding: 0;
}
.seccionSobreNosotros h2{
    text-align: center;
    margin-bottom: 40px;
}
.contenedorTextoMaps{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.contenedorTextoMaps > div{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: end;
}
.contenedorLogosRedes{
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;    
    gap: 1rem;
    margin-bottom: 1rem;
}
.contenedorLogosRedes img{
    cursor: pointer;
}
.contenedorTexto{
    justify-content: unset;
    align-items: start !important;
    font-family: var(--fuente);
    letter-spacing: 2px;
}
.contenedorTexto button{
    background-color: var(--colorSecundario);
    padding: 5px 10px;
    border: 1px solid var(--colorFondo);
    border-radius: 7px;
    color: var(--colorFondo);
    font-family: var(--fuente);
    letter-spacing: 2px;
    transition: 0.1s ease-in-out all;
}
.contenedorTexto button:hover{
    background-color: #d39a0b;
    border-radius: 0;
}
.contenedorMaps{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedorMaps iframe{    background-color: #d39a0b44;}
.contenedorMaps::after{
    content: 'Recarga la pagaina para ver el mapa';
    position: absolute;
    top: 100px;
    left: 200px;
    margin: auto ;
    z-index: -1;
}



/* ESPECIALIDADES */
.seccionEspecialidades{
    width: 100%;
    height: auto;
    min-height: 8rem;
    padding: 25px;
    background-color: #373737;
    margin-bottom: 70px;
}
.subContenedorEspecialidades{
    width: 100%;
    height: auto;
    display: flex;
    gap: 20px;
}
.contenedorIconosEspecialidades{
    width: 50%;
    height: auto;
    display: flex;
    padding: 0;
    align-items: center;
    gap: 20px;
}
.contenedorIconosEspecialidades img{
    width: 75px;
    height: 75px;
    object-fit: contain;
    
}
.conetenedorListaEspecialidades{
    font-family: var(--fuente);
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
   
}



/* SECCION HORARIOS */
.seccionHorario{
    width: 100%;
    height: auto;
    margin-bottom: 70px;
}
.seccionHorario h2{ margin-bottom: 30px; }
.subcontenedorHorarios{
    width: 100%;
    height: auto;
    display: flex;
}
.subcontenedorHorarios ul{ width: 50%; }
.contenedorAgendarCita{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seccionHorario ul li{
    font-family: var(--fuente);
    letter-spacing: 2px;
}
.contenedorAgendarCita a{
    width: 80%;
    height: 40px;
    background-color: var(--colorSecundario);
    color: var(--colorFondo);
    border-radius: 7px;
    border: none;
    font-family: var(--fuente);
    letter-spacing: 2px;
    font-size: 1.1rem;
    transition: 0.1s ease-in-out all;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 20px;
}
.contenedorAgendarCita a:hover{
    background-color: #d39a0b;
    border-radius: 0;
    letter-spacing: 3px;
}


/* SECCION PRODUCTOS */
.seccionProductos{
    width: 100%;
    height: auto;
    margin-bottom: 70px;
}
.contenedorProductos{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}
.contenTituloProducto{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.contenTituloProducto a{
    color: #fff;
    font-size: 1.2rem;
}
.cartaProducto{
    width: auto;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between  ;
    transition: 0.2s ease all;
    cursor: pointer;
    text-decoration: none;
}
.contenedorImagenProducto{
    width: 100%;
    height: 70%;
    background-color: rgb(255, 255, 255);
}
.contenedorImagenProducto img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.contenedorTextoProducto{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.contenedorTextoProducto span{  font-size: 1.1rem; }
.contenedorTituloProducto{
    width: 100%;
    display: flex;
    justify-content: space-between  ;
    align-items: end;
}
.contenedorTituloProducto .precio{    font-size: 1.2rem;}
.contenedorTextoProducto button{
    width: 100%;
    height: 50px;
    color: #424242;
    border: 1px solid #424242;
    font-size: 1.2rem;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease all;
}
.contenedorTextoProducto button:hover{    background-color: var(--colorSecundario);}
.cartaProducto:hover{   transform: scale(1.02);}




/* SECCION ESTADISTICAS */
.seccionEstadistica{
    width: 100%;
    height: 150px;
    background-color: #373737;
    margin-bottom: 70px;
}
.contenedorEstadistica{
    width: 100%;
    height: 100% ;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.subContenedorEstadistica{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid #fff;
}
.numeroEstadistica{    font-size: 2.5rem;}
.textoEstadistica{    text-align: center;}
.colaboradores{    border-right: none; }



/* SECCION COLABORADORES */
.seccionColaboradores{
    width: 100%;
    height: auto;
    margin-bottom: 70px;
    
}
.seccionColaboradores h2{
    margin-bottom: 30px;
}
.contenedorColaboradorGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 1rem;
    justify-items: center;
}
.colaborador{
    width: 250px;
    height: 350px;
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:  #141414 ;
}
.contenedorImagenColaborador{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: rgb(117, 117, 117);
}
.contenedorImagenColaborador img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.nombreColaborador{
    font-size: 1.5rem;
    text-align: center;
}
.fraseColaborador{
    text-align: justify;
    color: #4d4d4d;
}







/* SECCION RESEÑA */
.seccionResena{
    width: 100%;
    height: auto;
    margin-bottom: 70px;
}

.contenedorResenas{
    width: 100%;
    height: auto;
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    flex-wrap: wrap;
}
.cartaResena{
    width: 49%;
    min-width: 300px;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color:  #14141c;
    position: relative;
}
.verResena{
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #fff;
    font-size: 13px;
}
.contenedorImagenNombre{
    width: 100%;
    height: auto;
    /* background-color: yellow; */
    display: flex;
    gap: 10px;
}
.contenedorImagen{
    width: 60px;
    height: 60px;
}
.contenedorImagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    background-color: #262635;
}
.contenedorImagenNombre span{
    font-size: 1.2rem;
    font-weight: bold;
}





/* SECCION FOTOS LOCAL */
.seccionFotosLocal{
    width: 100%;
    margin-bottom: 7rem;
    position: relative;
}


.modalImagen{
    width: 90%;
    height: 90vh;
    background-color: #000000e3;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 5%; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.modalImagen img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cerrarModal{
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 5rem;
    line-height: 1rem;
    cursor: pointer;
    color: var(--colorSecundario);
    z-index: 1;
}



.gridLocal{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 0.5rem;
}
.gridLocal > div{
    max-height: 250px;
    cursor: pointer;
}
.gridLocal > div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* SECCION # */
.seccionEmpresa{
    width: 100%;
    margin-bottom: 7rem;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}
.seccionEmpresa .linea{
    width: 100px;
    background-color: #fff;
    height: 5px;
}
.seccionEmpresa h2{
    font-size: 2.7rem;
    font-weight: bolder;
}

/* SECCION CONTACTANOS */
.seccionContacto{
    width: 100%;
    height: auto;
    margin-bottom: 70px;
}
.seccionContacto h2{
    text-align: center;
    margin-bottom: 30px;
}
.contenedorContactanos{
    width: 100%;
    height: auto;
    display: flex;
    gap: 20px;
}
.contenedorFormulario{
    width: 50%;
    min-height: 350px;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px 20px;
}
.contenedorImagenFormulario{
    width: 50%;
    height: 350px;
}
.contenedorImagenFormulario img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}



/* formulario */
.formulario{
    width: 100%;
    height: auto;
    color: var(--colorFondo);
}
.formulario h3{
    font-family: var(--fuente);
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.formulario label{  color: #424242; }
.formulario input, .formulario textarea{
    box-shadow: 9px 9px 10px #e2e2e2;
}
.botonEnviar{
    margin: 15px 0 10px 0;
    padding: 4px 20px;
    background-color: var(--colorSecundario);
    color: var(--colorFondo);
    font-family: var(--fuente);
    letter-spacing: 2px;
    border: 1px solid var(--colorFondo);
    border-radius: 5px;
    transition: 0.1s ease-in-out all;
}
.botonEnviar:hover{
    border-radius: 0;
    letter-spacing: 3px;
}



/* FOOTER */
.footer{
    width: 100%;
    height: auto;
    background-color: var(--fondoFooter);
    margin-bottom: 0;
    padding: 0;
}
.contenedorFooter{
    width: 100%;
    height: auto;
    display: flex;
    gap: 20px;
    padding: 20px 25px 0 25px  ;
    /* background-color: violet; */
}
.contenedorLogoFooter{
    width: 15%;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
}
.contenedorLogoFooter img{
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
.contenedorLogoFooter span{
    font-family: var(--fuente);
    letter-spacing: 2px;
    text-align: center;
}

.contenedorSobreNosotrosFooter{
    /* background-color: rgb(90, 90, 39); */
    width: 20%;
}
.contenedorSobreNosotrosFooter span{
    font-family: var(--fuente);
    letter-spacing: 2px;
    font-size: 1.2rem;
    transition: 0.3s ease;
}
.contenedorSobreNosotrosFooter span:hover{
    color: var(--colorSecundario);
}
.contenedorSobreNosotrosFooter ul {
    margin-top: 10px;
    padding-left: 0;
}
.contenedorSobreNosotrosFooter ul li{list-style: none; }
.contenedorSobreNosotrosFooter ul li a{
    font-family: var(--fuente);
    letter-spacing: 2px;
    color: #fff;
    text-decoration: none;
    
}
.contenedorSobreNosotrosFooter ul li a:hover{
    text-decoration: underline;
    
}
.contenedorRedesFooter ul li a img{
    width: 20px;
    height: 20px;
    
}




/* MI MARCA */
.contenedorMiMarca{
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 10px;
}
.contenedorMiMarca a{
    color: #fff;
    text-decoration: none;
    
}
.contenedorMiMarca a:hover{
    color: var(--colorSecundario);
    text-decoration: underline;
    
}
.contenedorMiMarca img{
    width: 20px;
    height: 20px;
}




@keyframes animacionRombo{
    0%{
        transform: translateY(-20px) rotate(-45deg);
        
    }
    50%{
        transform: translateY(0) rotate(-45deg);
        
    }
    100%{
        transform: translateY(-20px) rotate(-45deg);
        
    }
}


/* CARTA PRODUCTO */
@media screen and (max-width: 900px) {
    .contenedorProductos{
        grid-template-columns: repeat(3 , 1fr);
        gap: 2rem;
    }


    @media screen and (max-width: 575px) {
        .contenedorProductos{
            grid-template-columns: repeat(2 , 1fr);
            gap: 2rem;
        }
    }

    @media screen and (max-width: 460px) {
        .contenedorProductos{   gap: 1rem; }
        .cartaProducto{ max-height: 250px; }
        .contenedorImagenProducto{  height: 50%; }
        .contenedorTextoProducto{
            height: 50%;
            justify-content: space-between;
        }
        .contenedorTituloProducto span{ font-size: 15px; }
        .contenedorTextoProducto button{
            font-size: 15px;
        }
    }
}

/* SOBRE NOSOTROS */
@media screen and (max-width: 993px) {
   
    .contenedorMaps iframe{
        width: 350px;
    }

    @media screen and (max-width: 768px) {

        .seccionSobreNosotros{
            padding: 20px;
        }
        .contenedorTextoMaps{
            flex-direction: column;
        }
        .contenedorTextoMaps > div{
            width: 100%;
        }
        
        .contenedorMaps{
            justify-content: center;
            align-items: center !important;
        }

        .contenedorMaps iframe{
            width: 310px;
        }
    }

}

/* ESPECIALIDADES, HORARIO,CONTACTANOS, FOOTER*/
@media screen and (max-width: 768px) {

    .subContenedorEspecialidades{
        flex-direction: column;
    }

    .contenedorIconosEspecialidades{
        width: 100%;
        margin: 25px 0;
        justify-content: center;
    }

    .conetenedorListaEspecialidades{    width: 100%; }


    /* iconos */
    @media screen and (max-width: 770px) {
    
        .contenedorIconosEspecialidades img{
            width: 50px;
            height: 50px;
            object-fit: contain;
            
        }
        
    }


    /* horarios */
    .seccionHorario h2{
        text-align: center;
    }
    .subcontenedorHorarios{ 
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }
    .subcontenedorHorarios ul{ 
        width: auto;
        /* background-color: yellowgreen; */
    }
    .contenedorAgendarCita button{
        min-width: 200px;
    }


    /* agendar cita */
    .contenedorImagenFormulario{
        display: none;
    }
    .contenedorFormulario{
        width: 100%;
    }




    /* ESTADISTICAS */
    .contenedorEstadistica{
        justify-content: space-around;
        gap: 5px;
    }
    .numeroEstadistica{    font-size: 1.5rem;}
    .textoEstadistica{ font-size: 1rem;}




    /* FOOTER */
    .contenedorFooter{
        flex-wrap: wrap;
        gap: 10px;
    }
    .contenedorLogoFooter{
        width: 100%;
        margin-bottom: 30px;
    }
    
    .contenedorSobreNosotrosFooter{ width: 40%; }
    .sobreNosotrosFooter{ width:55%; }
    
}

/* GRID CARTA */
@media screen and (max-width: 770px) {
    
    .grid{  grid-template-columns: repeat(auto-fit, minmax(150px,1fr));}
    
}


/* ESTADISTICA , GRID */
@media screen and (max-width: 460px) {
    .seccionEstadistica{
        height: 80px;
    }
    .contenedorEstadistica{
        justify-content: space-around;
        gap: 5px;
    }
    .numeroEstadistica{    font-size: 2rem;}
    .textoEstadistica{ font-size: 0.8rem;}


    /* GRID */
    .gridLocal > div{
        max-height: 200px;
    }
}




/* SCROLL */
body::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
   background-color: transparent; 
}

body::-webkit-scrollbar-thumb {
    background: #858585;
    border-radius: 4px;
}